<h5>
  Aluno-Form: {{ aluno.nome }}! 
</h5>

<form>

    <div class="form-group">
        <label for="nome" >ID:</label>
        <input disabled #id type="text" class="form-control" id="id" placeholder="{{ aluno.id }}">
     </div>

  <div class="form-group">
     <label for="nome">Nome:</label>
     <input #novoNome type="text" class="form-control" id="nome" placeholder="{{ aluno.nome }}">
  </div>

  <div class="form-group">
    <label for="email">Email Addres:</label>
    <input #novoEmail type="email" class="form-control" id="email"  placeholder=" {{ aluno.email }} ">
  </div>

  
  <div class="form-group">
  <button  class="btn btn-primary" (click) = "atualizar(novoNome.value,novoEmail.value)">Editar</button>
  
</div>

</form>

